aws-cryptography-internal-mpl-testvectors @ git+https://github.com/aws/aws-cryptographic-material-providers-library.git@python-with-dafny-code#subdirectory=TestVectorsAwsCryptographicMaterialProviders/runtimes/python