atomicwrites==1.4.0
attrs==20.2.0
backports.functools-lru-cache==1.6.1
boto3==1.15.0
botocore==1.18.0
cffi==1.14.2
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.3
cryptography==3.2
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
importlib-metadata==1.7.0
ipaddress==1.0.23
jmespath==0.10.0
mock==3.0.5
more-itertools==5.0.0
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pytest==4.6.11
pytest-cov==2.10.1
pytest-mock==2.0.0
python-dateutil==2.8.1
s3transfer==0.3.3
scandir==1.10.0
six==1.15.0
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
zipp==1.2.0
