atomicwrites==1.4.0
attrs==21.2.0
backports.functools-lru-cache==1.6.4
boto3==1.17.92
botocore==1.20.92
cffi==1.14.5
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.5
cryptography==39.0.1
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
importlib-metadata==2.1.1
ipaddress==1.0.23
jmespath==0.10.0
mock==3.0.5
more-itertools==5.0.0
packaging==20.9
pathlib2==2.3.5
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==4.6.11
pytest-cov==2.12.1
pytest-mock==2.0.0
python-dateutil==2.8.1
s3transfer==0.4.2
scandir==1.10.0
six==1.16.0
toml==0.10.2
urllib3==1.26.5
wcwidth==0.2.5
wrapt==1.12.1
zipp==1.2.0
