*.class
*.egg-info
*.pyc
*.pyo
*~
.DS_Store
.tox
/.cache*
.coverage*
/build
/doc/generated/*
/test/integration/test_values.conf
__pycache__
aws_encryption_sdk_resources
build
dist
docs/build

# PyEnv
.python-version

# PyTest
.pytest_cache

# PyCharm
.idea/