*~

# Test vectors (legacy)
aws_encryption_sdk_resources

# OS Atrifacts
.DS_Store

# Build Artifacts
build
dist
docs/build
/doc/generated/*

# Bytecode Artifacts
*.pyc
*.pyo
.cache*
__pycache__
*.egg-info

# Coverage.py
.coverage*

# MyPy
.mypy_cache

# PyEnv
.python-version

# PyTest
.pytest_cache

# PyCharm
.idea/

# Tox
.tox
