[submodule "test_vector_handlers/test/aws-crypto-tools-test-vector-framework"]
	path = test_vector_handlers/test/aws-crypto-tools-test-vector-framework
	url = https://github.com/awslabs/private-aws-crypto-tools-test-vector-framework-staging.git
