include README.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include requirements.txt
include src/aws_encryption_sdk/py.typed

recursive-include doc *
recursive-include test *.py
recursive-include test *.json
recursive-include examples *.py
