aws-cryptographic-materialproviders @ git+https://github.com/aws/aws-cryptographic-material-providers-library.git@python-with-dafny-code#subdirectory=AwsCryptographicMaterialProviders/runtimes/python
