bandit==1.7.4
black==24.2.0
doc8==0.10.1
flake8==4.0.1
flake8-bugbear==22.9.11
flake8-docstrings==1.7.0
flake8-print==5.0.0
isort==5.11.4
pyflakes==2.4.0
pylint==2.13.5
readme_renderer==37.3
seed-isort-config==2.2.0
vulture==2.13
