name: Continuous Integration tests for the decrypt oracle

on:
  pull_request:
  push:
  # Run once a day
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          # The oracle will run on a Python 3.9 Lamba
          python-version: 3.9
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: local
        run: |
          cd decrypt_oracle
          tox -- -vv
  static-analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
          - bandit
          - readme
          - flake8
          - pylint
          - flake8-tests
          - pylint-tests
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-python@v5
          with:
            python-version: 3.9
        - run: |
            python -m pip install --upgrade pip
            pip install --upgrade -r dev_requirements/ci-requirements.txt
        - name: run test
          env:
            TOXENV: ${{ matrix.category }}
          run: |
            cd decrypt_oracle
            tox -- -vv
