name: Static analysis checks

on:
  pull_request:
  push:
  # Run once a day
  schedule:
    - cron: '0 0 * * *'

jobs:
  analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - 3.8
        category:
          - bandit
          - doc8
          - docs
          - readme
          - flake8
          - pylint
          - flake8-tests
          - pylint-tests
          - flake8-examples
          - pylint-examples
          - black-check
          - isort-check
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: ${{ matrix.category }}${{ matrix.optional_mpl_dependency }}
        run: tox -- -vv
