name: Static analysis checks

on:
  workflow_call:

jobs:
  analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
          - bandit
          - doc8
          - docs
          - readme
          - flake8
          - pylint
          - flake8-tests
          - pylint-tests
          - flake8-examples
          - pylint-examples
          - black-check
          - isort-check
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: ${{ matrix.category }}
        run: tox -- -vv
