name: Continuous Integration tests for the test vector handler

on:
  pull_request:
  push:
  # Run once a day
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    # Leaving this defined but disabled
    # until we address the credentials problem.
    if: 1 == 0
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-12
          - macos-latest
        python:
          - 3.8
          - 3.x
        architecture:
          - x64
          - x86
        category:
          - awses_1.3.3
          - awses_1.3.max
          - awses_latest
        exclude:
          # x86 builds are only meaningful for Windows
          - os: ubuntu-latest
            architecture: x86
          - os: macos-12
            architecture: x86
          - os: macos-latest
            architecture: x86
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.INTEG_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.INTEG_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.architecture }}
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r dev_requirements/ci-requirements.txt
      - name: run test
        env:
          TOXENV: ${{ matrix.category }}
        run: |
          cd test_vector_handlers
          tox -- -vv
  static-analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        category:
          - bandit
          - readme
          - flake8
          - pylint
          - flake8-tests
          - pylint-tests
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v4
          with:
            python-version: 3.9
        - run: |
            python -m pip install --upgrade pip
            pip install --upgrade -r dev_requirements/ci-requirements.txt
        - name: run test
          env:
            TOXENV: ${{ matrix.category }}
          run: |
            cd test_vector_handlers
            tox -- -vv
